.image {
    background-size: cover;


 }
/*
 body {
   background-image:
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover; */
 /* } */

 #survey-form {
   margin: 0 auto;
   width: 600px;
   padding: 1em;
   border: 1px solid #CCC;
   border-radius: 1em;
 }
 #title {
   margin: 0 auto;
   width: 400px;
   padding: 1.5em;
 }
 comments {
   color: pink;
 }


 #placeholder {
   color: red; 
 }
 li {
     list-style-type: none;
 }
