.image {
    /* background-size: cover; */
     /* filter: blur(1px); */
}

 body {

   background-image: url(codeimage.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;


 }
h1 {
    text-align: center;
    color: white;
}

 h2 {
    text-align: center;
    font-weight:normal; 
    color: white;
    text
  }


 #survey-form {
   color: white;
   margin: 0 auto;
   width: 600px;
   padding: 2em;
   border: 1px solid #CCC;
   border-radius: 1em;
   margin-top: 200px;
   background-color: green;


 }

 #title {
   margin: 0 auto;
   width: 400px;
   padding: 1.5em;
 }
 comments {
   color: pink;
 }


 #placeholder {
   color: red; 
 }
 li {
     list-style-type: none;
 }
